//Default Layout - Sidebar -> Content
@media all and (min-width: 1170px) {
	$total_width: 1170px;
	$container_margin: auto;
	$gutter_width: 20px;

	$max_width: 1170px;

	.content-area {
		@include column(9);
		@include push(3);
	}
	#secondary {
		@include column(3);
	}
}